$text-color: #424242;
$highlight-color: #FFEB3B;
$body-background-color: whitesmoke;
$header-background-color: white;

body {
  background-color: $body-background-color;
}
.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}
.App-header {
  text-align:left;
  font-size: 16px;
  padding: 15px 15px;
  border-bottom: solid 1px black;
  background: $header-background-color;
  color: $text-color;
}
main {
  background-color: $body-background-color;
  min-height: 94vh;
  align-items: center;
  justify-content: center;
  color: $text-color;
}
.selected {
  background: $highlight-color;
}
.description, div#textOutput{
  cursor: default;
}
.description {
  font-weight: 900;
  font-size: calc(20px + 4vmin);
  width: 60%;
  margin: 0 auto 100px auto;
  padding-top: 5%;
  color: hsla(0, 0%, 87%, 1);
}
div#textOutput {
  width: 60%;
  line-height: 38px;
  margin: 0 auto;
  font-size: calc(10px + 2vmin);
}
#popover {
  position: absolute;
  background: whitesmoke;
  text-align: left;
  min-height: 30px;
  min-width: 30px;
  top: 0;
  left: 0;
  padding: 10px 20px;
  border: 1px solid #c5c5c5;
  border-radius: 2px;
  box-shadow: -1px 1px 2px 1px #dadada;
  max-width: 600px;
  max-height: 500px;
  overflow: auto;
}
#popover {
  & h3 {
    font-size: 14px;
    margin: 0;
    text-transform: capitalize;
    border-bottom: 1px solid #e2e2e2;
  }
  & p {
    font-size: 12px;
    margin: 5px 0;
    font-style: italic;
    line-height: 22px;
  }
  & .loading{
    font-weight: bold;
    font-size:12px;
  }
} 
