.App {
  text-align: center;
}

main {
  background-color: #282c34;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.selected {
  background: red;
}

#popover {
  position: absolute;
  background: whitesmoke;
  color: black;
  text-align: left;
  min-height: 30px;
  min-width: 30px;
  top: 0;
  left: 0;
  padding: 10px 20px;
}
#popover h3 {
  font-size: 14px;
}
#popover p {
  font-size:12px;
}